#uploadsList
{
    border: 2px solid black;

}
.searchResults ul
{
    list-style-type: none;
}
#list-item
{
    display: block;
    position: center;
    border: 2px solid black;
    margin-bottom: 10px;
    width: auto;

}
#titleLink
{
    color: #F09D51;
}



