.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-repeat: repeat-y;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}